<mat-card-content class="dashboard-card-content" maxRowHeight="400px">
  <clr-datagrid class="applicant-list">
    <clr-dg-column>Edit/Delete</clr-dg-column>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Email</clr-dg-column>
    <clr-dg-column>Phone Number</clr-dg-column>
    <clr-dg-column>Experiencee</clr-dg-column>
    <clr-dg-column>Skills</clr-dg-column>
    <clr-dg-row *ngFor="let app of applicants; let i = index" [attr.data-index]="i" class="applicant-list">
      <clr-dg-cell style='display: flex'>
        <div class="edit-button" style='display: flex; flex-direction: row; justify-content: space-around;'>
          <button (click)="openDialog(app.app_id, app)">Edit</button>
          <a style="margin-left: 10px;">/</a>
          <button class="delete-button" (click)="deleteApplicant(app.app_id)" style="margin-left: 10px;">Delete</button>
        </div>
      </clr-dg-cell>
      <clr-dg-cell>{{app.first_name + ' ' + app.last_name}}</clr-dg-cell>
      <clr-dg-cell>{{app.email}}</clr-dg-cell>
      <clr-dg-cell>{{app.phone}}</clr-dg-cell>
      <clr-dg-cell>{{app.experience}}</clr-dg-cell>
      <clr-dg-cell>{{app.skills}}</clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
  <footer>{{applicants.length}} applicants</footer>
</mat-card-content>