<div class="modal-container">
    <div
      style="
        width: 500px;
        height: auto;
        border: #00364d 3px solid;
        background-color: white;
        color: #00364d;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      "
    >
      <h2 class="title">Great, lets add a new applicant!</h2>
      
      <div class="btn-container">
        <button style="border: solid; border-radius: 10px; border-width: 1px; background-color: #00364d; color:blanchedalmond; width: 100px;" (click)="closeMe()">Close</button>
        <button style="border: solid; border-radius: 10px; border-width: 1px; background-color: #00364d; color:blanchedalmond; width: 100px;" (click)="confirm()">Confirm</button>
      </div>
    </div>
  </div>