<div class="grid-container">
  <h1 class="mat-h1">Hiring Manager Dashboard</h1>
  <!-- card one -->
  <mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Applicants
            
              <div class="modal-container">
                <button mat-menu-item (click)="openModal()">Add Applicant</button>
                <div #modal></div>
                <button mat-menu-item>Remove applicant</button>
              </div>

          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-applicants></app-applicants>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- card two -->
  <mat-grid-list cols="2" rows="3" rowHeight="650px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Jobs
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-jobs></app-jobs>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


    <!-- card three -->

    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            More About your Applicants
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-start-now></app-start-now>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>