<div class="grid-container">
  <h1 class="mat-h1">Hiring Manager Dashboard</h1>
  <!-- card one -->
  <mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title style="margin-bottom: 0; margin-top: 1; ">
            Applicants
          </mat-card-title>

        </mat-card-header>
        <div class="modal-container" style="display: flex; justify-content:right;">
          <button class="buttons-main" style="margin-right: 10px" (click)="openModal()">Add Applicant</button>
          <div #modal></div>
        </div>

        <mat-card-content style='max-height: 400px; overflow-y: scroll;'>
          <app-applicants ></app-applicants>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- card two -->
  <mat-grid-list cols="2" rows="3" rowHeight="650px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Jobs
          </mat-card-title>
        </mat-card-header>
        <mat-card-content style="max-height: 550px; overflow-y: scroll;">
          <app-jobs></app-jobs>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


    <!-- card three -->

    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            More About your Applicants
          </mat-card-title>
        </mat-card-header>
        <mat-card-content style="overflow-y: scroll;">
          <app-start-now  ></app-start-now>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>